/* Общ стил за страницата */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;

    /* ФОНЪТ С ИЗОБАТИТЕ */
    background: #5bbcf5 url("isobaths.png") no-repeat fixed center center;
    background-size: cover;

    color: #ffffff;
}

/* Контейнерът, в който ти е съдържанието */
.container {
    max-width: 900px;
    margin: 30px auto;
    padding: 20px;
    background: rgba(0,0,0,0.55);
    border-radius: 10px;
}

/* Заглавия */
h1, h2 {
    text-align: center;
}

/* Снимки */
img {
    width: 100%;
    border-radius: 10px;
    margin-top: 15px;
}

/* Линкове (видеата) */
a {
    color: #ffee55;
}
